.chatContainer {
    width: 100vw;
    height: 100vh;
    /* min-height: 100vh; */
    /* max-height: 100vh; */
    background-color: var(--primaryBackgroundColor);
    display: flex;

     overflow-y: hidden;
    /*overflow-x: hidden; */
}

.chatSidebarDiv {
    min-width: 6%;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px 15px;
}

.chatProfile {
    width: 100%;
}

.chatProfileDotsDiv {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 0px 15px 0px 15px;
}

.chatProfileDotsDiv :nth-child(1) {
    background-color: #f33838;
}

.chatProfileDotsDiv :nth-child(2) {
    background-color: #eaea18;
}

.chatProfileDotsDiv :nth-child(3) {
    background-color: #69fe69;
}

.chatProfileDot {
    width: 9px;
    height: 9px;
    border-radius: 50%;
}

.chatProfileImageDiv {
    width: 70px;
    height: 70px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profileStoryNotSeen{
    border: 3px solid #e84343;
    border-radius: 50%;
    
    &:hover {
        border: 3px solid #b63b3b;
    }
}
.profileStorySeen{
    border: 3px solid #362a74;
    border-radius: 50%;
}

.chatProfileImageDiv img {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    object-fit: cover;
}

.chatSettingsDiv {
    text-align: center;
    width: 100%;
}

.chatSettingsDiv img {
    width: 50%;
    transition: transform 0.3s ease-in-out;

    &:hover {
        cursor: pointer;
        transform: scale(1.1);
        transition: transform 0.3s ease-in-out;
    }
}


.chatSectionsDiv {
    width: 94%;
    background-color: var(--secondaryBackgroundColor);
    display: flex;
    justify-content: right;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.chatSection1Div {
    width: 370px;
}

.chatSection2Div {
    width: calc(100% - 370px);
    height: 100%;
    text-align: right;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: #1d1520;
    border-left: 1px solid grey;
}

/*------------------ Chat page for mobile ---------------- */
.chatMobileContainer {
    width: 100vw;
    height: 100dvh;
    background-color: var(--primaryBackgroundColor);

    /* overflow-y: hidden; */
    overflow-x: hidden;

}

.chatMobileTopBar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px 15px 10px;
}

.chatMobileProfileImageDiv {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chatMobileProfileImageDiv img {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    object-fit: cover;
}

.chatMobileSettingsDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.chatMobileSettingsDiv img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease-in-out;

    &:hover {
        cursor: pointer;
        transform: scale(1.1);
        transition: transform 0.3s ease-in-out;
    }
}

.chatMobileSectionDiv {
    width: 100%;
    background-color: var(--secondaryBackgroundColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chatMobileStorySectionDiv {
    width: 100%;
}

.chatMobileSectionsComponents {
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chatMobileProfileDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

@media screen and (max-width: 1050px) {
    .chatSidebarDiv {
        width: 70px;
        padding: 30px 10px;
    }

    .chatProfileDotsDiv {
        padding: 0px 10px 0px 10px;
    }

    .chatProfileDot {
        width: 7px;
        height: 7px;
        border-radius: 50%;
    }

    .chatProfileImageDiv {
        width: 50px;
        height: 50px;
    }

    .chatSection1Div {
        width: 300px;
    }

    .chatSection2Div {
        width: calc(100% - 300px);
    }
}

@media screen and (max-width: 750px) {
    .chatContainer {
        overflow-y: auto;
    }
    .chatProfileDotsDiv {
        width: 50px;
    }
}