
.googleFacebookLoginDiv{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.googleFacebookLoginDiv button{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 15px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: 0.3s ease;
    cursor: pointer;
    &:hover {
        background-color: rgb(21, 20, 22);
        transition: 0.3s ease;
    }
}
.googleFacebookLoginDiv button img{
    width: 20px;
}


@media screen and (max-width: 1200px) {
    .googleFacebookLoginDiv {
        gap: 15px;
    }

    .googleFacebookLoginDiv button {
        padding: 8px 12px;
        font-size: 14px;
    }

    .googleFacebookLoginDiv button img {
        width: 18px;
    }
}

@media screen and (max-width: 480px) {
    .googleFacebookLoginDiv {
        flex-direction: column;
    }

    .googleFacebookLoginDiv button {
        width: 80%;
        justify-content: center;
    }
}