.messageContainer{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.messageHeader{
    width: 100%;
    padding: 16px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: var(--secondaryBackgroundColor);
    /* background-color: transparent; */
    backdrop-filter: blur(10px);
    border-top-left-radius: 50px;
}
.messageHeaderUserInfo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.messageHeaderProfileText{
    text-align: left;
}
.messageHeaderProfileName{
    font-size: 18px;
    font-weight: 600;
    color: white;
}
.messageHeaderProfileStatus{
    font-size: 14px;
    font-weight: 400;
    color: var(--primaryColor);
}

.messageHeaderProfilePic{
    display: flex;
    align-items: center;
}
.messageHeaderProfilePic img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.messageSectonCloseBtn{
    color: #cb3030;
    
    &:hover{
        color: #ab2b2b;
    }
}

.messagesDiv{
    width: 100%;
    height: 100%;
    padding: 20px 10px;
    overflow-y: auto;
    scroll-behavior: smooth;
    background-color: var(--primaryBackgroundColor);
}
.messagesDiv::-webkit-scrollbar{
    width: 5px;
}
.messagesDiv::-webkit-scrollbar-track{
    background-color: var(--primaryBackgroundColor);
}
.messagesDiv::-webkit-scrollbar-thumb{
    background-color: var(--scrollThumbColor);
    border-radius: 10px;
}
.messagesDiv::-webkit-scrollbar-thumb:hover{
    background-color: var(--scrollThumbHoverColor);
}
@-moz-document url-prefix() {
    .messagesDiv {
        scrollbar-color: var(--scrollThumbColor) var(--primaryBackgroundColor);
    }
}
/* .messagesDivNotification{
    width: 100%;
    text-align: center;
    margin: 20px 0px;
}
.messagesDivNotification p{
    color: black;
    letter-spacing: 1px;
    font-size: 14px;
    display: inline-block;
    background-color: #555555;
    border-radius: 10px;
    padding: 1px 15px;
} */
.messageReceivedContainer{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}
.messageSendContainer{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 6px;
}


.messageSendFooter{
    width: 100%;
    /* height: fit-content; */
    padding: 13px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondaryBackgroundColor);
    backdrop-filter: blur(10px);
    border-bottom-left-radius: 50px;
}
.messageSendBox{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.messageSendBoxInputDiv{
    width: 100%;
}
.messageSendBoxInputDiv textarea{
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    font-size: 16px;
    letter-spacing: 1px;
    resize: none;
}
.messageSendOptions{
    display: flex;
    align-items: center;
    gap: 10px;
}
.messageSendOptions img{
    width: 40px;
    transition: transform 0.2s ease-in-out;

    &:hover{
        transform: scale(1.07);
        transition: transform 0.2s ease-in-out;
    }
}
.messageSendOptions img:nth-child(2){
    width: 35px;
}
.messageSendOptions img:nth-child(3){
    background-color: black;
    padding: 12px;
    width: 50px;
    border-radius: 50%;
}


.messageSendBoxAudio{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #f1f3f4;
    padding-right: 10px;
    border-radius: 20px;
}
.messageSendBoxAudio span{
    color: #cb3030;
    
    &:hover{
        color: #ab2b2b;
    }
}


@media screen and (max-width: 1050px){
    .messageSendOptions img{
        width: 30px;
    }
    .messageSendOptions img:nth-child(2){
        width: 25px;
    }
    .messageSendOptions img:nth-child(3){
        background-color: black;
        padding: 12px;
        width: 50px;
        border-radius: 50%;
    }
}
@media screen and (max-width: 750px){
    .messageHeader{
        border-top-left-radius: 0px;
    }
    .messageSendFooter{
        border-bottom-left-radius: 0px;
    }
}


