* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
:root {
    --primaryColor: #670df8; 
    --primaryColorHover: #4c0ac8; 
    --primaryBackgroundColor: #1a1520; 
    --secondaryBackgroundColor: #242137; 
    --scrollTrackColor: var(--secondaryBackgroundColor);
    --scrollThumbColor: #3f3c65;
    --scrollThumbHoverColor: #4c4d7d;

    font-weight: bold;
  }

  body{
    overflow-x: hidden;
  }

  button{
    font-family: 'Nunito', sans-serif;
  }