* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
:root {
    --primaryColor: #670df8; 
    --primaryColorHover: #4c0ac8; 
    --primaryBackgroundColor: #1a1520; 
    --secondaryBackgroundColor: #282137; 
    --scrollTrackColor: var(--secondaryBackgroundColor);
    --scrollThumbColor: #493c65;
    --scrollThumbHoverColor: #5b4c7d;

    font-weight: bold;
  }

  body{
    overflow-x: hidden;
  }

  button{
    font-family: 'Nunito', sans-serif;
  }